                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header" data-background-color="purple">
                                    <h4 class="title">Properies Table</h4>
                                    <p class="category">Here is a subtitle for this table</p>
                                </div>
                                <div class="card text-center" *ngIf="properties == undefined">There are no properties...</div>
                                <div *ngIf="properties" class="card-content table-responsive">
                                    <table id="table1" class="table">
                                        <thead class="text-primary">
                                            <th>Name</th>
                                            <th>Country</th>
                                            <th>City</th>
                                            <th>Salary</th>
                                        </thead>
                                        <tbody *ngFor="let property of properties">
                                            <tr>
                                                <td>D</td>
                                                <td>Niger</td>
                                                <td>Oud-Turnhout</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                
              